## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy
import gmaps.datasets

# Import API key
from configGmap import gkey

# Configure gmaps
gmaps.configure(gkey)

In [2]:
# 6. In Step 1, import the WeatherPy_vacation.csv file from your Vacation_Search folder from Deliverable 2 as a DataFrame.
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Harper,LR,75.36,4.3750,-7.7169,Screensaver
1,6,Atuona,PF,77.58,-9.8000,-139.0333,Villa Enata
2,12,Hithadhoo,MV,83.80,-0.6000,73.0833,Scoop Guest House
3,14,Cagliliog,PH,78.17,13.9016,123.2913,Cagliliog Labog Beach
4,19,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...
250,685,Kermanshah,IR,76.10,34.3142,47.0650,Sina Hotel
251,689,Kieta,PG,82.40,-6.2167,155.6333,Uruna Bay Retreat
252,690,Bubaque,GW,80.31,11.2833,-15.8333,"Casa Dora, Bubaque"
253,697,Phan Thiet,VN,76.71,10.9333,108.1000,Hotel Saigon-PT
254,700,Piacabucu,BR,76.21,-10.4056,-36.4344,Piaçabuçu News

In [3]:
# 7.In Steps 2-4, copy or refactor the code from Steps 11a-b of Deliverable 2...
# 2. Using the tempLate add the city name, the country code, the weather description and maximum temperature for the city.
info_box_tempLate = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting tempLate and store the data in a list.
hotel_info = [info_box_tempLate.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the Latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 8.From the vacation search map, choose four cities that a customer might want to visit. 
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[clean_hotel_df['City'] == 'Half Moon Bay']
vacation_end = clean_hotel_df.loc[clean_hotel_df['City'] == 'Half Moon Bay']
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df['City'] == 'San Ramon']
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df['City'] == 'San Joaquin'] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df['City'] == 'Laguna']

vacation_stop3

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
185,503,Laguna,US,86.14,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [6]:
# 6. Get the Latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [7]:
# 11.In Step 7, use the gmaps documentation (Links to an external site.) to create a directions layer map using the variables from Step 6
# 7. Create a direction layer map using the start and end Latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

gmaps.configure(gkey)

fig = gmaps.figure()
trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,212,Half Moon Bay,US,76.57,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
1,162,San Ramon,US,75.49,37.7799,-121.9780,San Ramon Marriott
2,252,San Joaquin,US,84.52,37.9333,-121.3011,University Plaza Waterfront Hotel
3,503,Laguna,US,86.14,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [17]:
# 9 Using the tempLate add city name, the country code, the weather description and maximum temperature for the city. 
info_box_tempLate2 = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting tempLate and store the data in a list.
hotel_info2 = [info_box_tempLate2.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the Latitude and longitude from each row and store in a new DataFrame.
locations2 = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure()
marker_layer2 = gmaps.marker_layer(locations2, info_box_content=hotel_info2)
fig.add_layer(marker_layer2)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))